<?xml version="1.0" encoding="utf-8"?>
<GlobalConfig>
  <OriginalInput>D:\Test4\WhatEverII\GeneratedCode\B1_Dbmls\MSBuildExtensionPack.dbml</OriginalInput>
  <ExcludedTables>aspnet_*;__RefactorLog;__MigrationHistory</ExcludedTables>
  <CodeGenConfig RootNamespace="MSBuildExtensionPack" SolutionName="MSBuildExtensionPack" CodeVersion="1.0.0.0" StartPort="10800">
    <IsToExportFrameworkProjects>true</IsToExportFrameworkProjects>
    <RootXmlNamespace>http://www.ntier.com</RootXmlNamespace>
  </CodeGenConfig>
  <CompanyConfig Name="NTIER ON TIME TECHNOLOGIES INC." EmailDomainName="ntier.com" />
  <DatabaseSetting ConnectionStringName="MSBuildExtensionPack" Sever="Localhost" Name="MSBuildExtensionPack" IntegratedSecurity="false" UserName="sa" Password="Qwer~123" />
  <GlobalDataQueryMethodSetting />
  <GlobalDataActionMethodSetting />
  <IDESetting IDE="VisualStudio" Version="2013" />
</GlobalConfig>